<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Medio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Media</h1>

    <img src="../images/imagen1.jpg" alt="Planeta" height="300" width="350" >
    <img src="../images/imagen2.jpg" alt="Deforestacion" height="300" width="350" >
    <br>

    <video height="400" widt="700" controls>
        <source src="../assets/video.mp4" type="video/mp4" >
    </video>
    <br>

    <audio controls>
        <source src="../assets/audio.mp3" type="audio/mpeg" >
    </audio>

    <!-- direccionamiento -->
    <br>
    <a href="../index.html">Regresar al inicio</a>

</body>
</html>