<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tablas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Tablas</h1>

    <table>
        <tr>
            <td>#</td>
            <td>Codigo</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>1</td>
            <td>LG24001</td>
            <td>Juan Emilio Lopez Guido</td>
        </tr>
        <tr>
            <td>2</td>
            <td>LB24002</td>
            <td>Helena Eunice Lue Barrera</td>
        </tr>
        <tr>
            <td>3</td>
            <td>AF24006</td>
            <td>Sara Carolina Aguirre Fuentes</td>
        </tr>
    </table>

    <br>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Estudiante</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>LG24001</td>
                <td>Juan Emilio Lopez Guido</td>
            </tr>
            <tr>
                <td>2</td>
                <td>LB24002</td>
                <td>Helena Eunice Lue Barrera</td>
            </tr>
            <tr>
                <td>3</td>
                <td>AF24006</td>
                <td>Sara Carolina Aguirre Fuentes</td>
            </tr>
        </tbody>
    </table>

    <!-- direccionamiento -->
    <br>
    <a href="../index.html">Regresar al inicio</a>

</body>
</html>